---
layout: default
title: KungFuDiscoMonkey.net
htitle: KungFuDiscoMonkey.net
javascript:
 - http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js
 - http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js
 - custom.js
---
<ul id="tab-nav">
	<li class="one"><a href="#tabs-one">About</a></li>
	<li class="two"><a href="#tabs-two">Experience</a></li>
	<li class="three"><a href="#tabs-three">Current Projects</a></li>
	<li class="four"><a href="#tabs-four">Past Projects</a></li>
	<li class="five"><a href="#tabs-five">Links</a></li>
</ul>
<div id="tabs-one" class="one">
	<h3 class="one round"><a href="#">About</a></h3>
	{% include index.html %}
	<a href="#top" class="top">Top</a>
</div>
<div id="tabs-two" class="two">
	<h3 class="two round"><a href="#">Experience</a></h3>
	{% include experience.html %}
	<a href="#top" class="top">Top</a>
</div>
<div id="tabs-three" class="three">
	<h3 class="three round"><a href="#">Current</a></h3>
	{% include current.html %}
	<a href="#top" class="top">Top</a>
</div>
<div id="tabs-four" class="four">
	<h3 class="four round"><a href="#">Past</a></h3>
	{% include past.html %}
	<a href="#top" class="top">Top</a>
</div>
<div id="tabs-five" class="five">
	<h3 class="five round"><a href="#">Links</a></h3>
	{% include links.html %}
	<a href="#top" class="top">Top</a>
</div>