{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ $projects := where $.Pages "Section" "project" }}
{{ $projects := where $projects "Params.status" "!=" "retired" }}

<table class="table">
    {{ range $projects }}
    <tr>
        <td>
            {{ partial "section_icon.html" . }}
            <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </td>
        <td>
            {{ range .Params.tags  }}
            <a class="badge bg-primary" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </td>
        <td>{{ .Summary }}</td>
    </tr>
    {{ end }}
</table>

{{ end }}
