{{ $colorScheme := default "light" .Site.Params.header.colorScheme }}

<header class="blog-header">
    <nav class="navbar navbar-expand-md navbar-{{ $colorScheme }} bg-{{ $colorScheme }}">
        <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
            {{ partial "brand" . }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                {{ $url := .Permalink | relLangURL }}
                {{ range .Site.Menus.main }}
                <li class="nav-item {{ if eq $url (.URL | relLangURL) }}active{{end}}">
                    {{ if eq (hasPrefix .URL "mailto:") true }}
                    <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                    {{ else }}
                    <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                    {{ end }}
                </li>
                {{ end }}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" title="GitHub" href="https://github.com/kfdm/">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Twitter" href="https://twitter.com/kfdm/">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Instagram" href="https://www.instagram.com/kungfudiscomonkey/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="LinkedIn" href="https://www.linkedin.com/in/PaulTraylor">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Mastodon" rel="me" href="https://mastodon.social/@kfdm">
                        <i class="fab fa-mastodon"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
