<dl class="row text-secondary">
    {{ if .Params.tags }}
    <dt class="col-sm-1">{{ i18n "tags" }}</dt>
    <dd class="col-sm-11">
        {{ range .Params.tags }}
        <a class="badge badge-primary" href="{{ '/tags/' | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
    </dd>
    {{ end }}

    {{ if .Params.badges }}
    <dt class="col-sm-1">Badges</dt>
    <dd class="col-sm-11">
        {{ range $badge := .Params.badges }}
        {{ if isset $badge "href" }}
        <a href="{{$badge.href}}">
            {{end}}

            {{ if isset $badge "src" }}
            <img src="{{$badge.src}}" alt="{{$badge.title}}" />
            {{ else if isset $badge "title" }}
            {{$badge.title}}
            {{ end }}

            {{ if isset $badge "href" }}
        </a>
        {{ end }}
        {{ end }}
    </dd>
    {{ end }}
</dl>
