{{ if .Params.tags }}
<div class="blog-post-tags text-secondary">
    <strong>{{ i18n "tags" }}:</strong>
    {{ range .Params.tags }}
    <a class="badge badge-primary" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
</div>
{{ end }}

{{ if .Params.badges }}
<div class="blog-post-tags text-secondary">
    {{ range $badge := .Params.badges }}
        {{ if isset $badge "href" }}
        <a href="{{$badge.href}}">
        {{end}}

        {{ if isset $badge "src" }}
        <img src="{{$badge.src}}" alt="{{$badge.title}}" />
        {{ else if isset $badge "title" }}
        {{$badge.title}}
        {{ end }}

        {{ if isset $badge "href" }}
        </a>
        {{end}}
    {{ end }}
</div>
{{ end }}
