---
width: "962px"
colors:
 - {name: "about", value: "#99BBFF" }
 - {name: "experience", value: "#868" }
 - {name: "current", value: "#4E8BA8" }
 - {name: "past", value: "#B1E39D" }
 - {name: "future", value: "#D6A3B2" }
---
/****************************
	Main
****************************/
html {
	background-color: #d5d2cb;
	height: 100%;
}
body {
	min-height: 100%;
	margin: 0px;
	font-family: "Lucida Grande", Arial, sans-serif;
	background-color: white;
	border-right: 1px solid #bdbab3;
	width: {{ page.width }} ;
}
/****************************
	Header
****************************/
header#head div {
	padding: 10px;
	border-bottom: solid thin;
	border-color: white;
}
header#head nav{
	position: relative;
	float:right;
	padding:0em;
	top:-1px;
}
span#social{
	float:right;
	padding: 0.25em 0.5em;
	vertical-align:bottom;
	margin-top: 0.25em;
}
header#head {
	margin: 0em;
	font-weight: bold !important;
	text-decoration: none !important;
	position:fixed;
	top:0em;
	max-width: {{ page.width }} ;
	min-width: {{ page.width }} ;
	width: {{ page.width }} ;
}
/****************************
	Navigation
****************************/
nav ul {
	padding: 0px;
	margin: 0px 50px 0px 0px;
}
nav li a {
	color: #FFFFFF;
	text-decoration: none;
}
nav li {
	list-style:none;
	display: table-cell;
	padding: 5px 5px 5px;
	font-size:10pt;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-color: white;
}
/****************************
	Content
****************************/
section#content {
	padding-left: 20px;
	padding-bottom: 12pt;
}
#content h1 {
	padding-top:50px;
	font-size:2.5em;
	margin: 0em;
	border-bottom: solid thick;
	text-decoration: none !important;
}
#content h2 {
	font-size: 1.5em;
	margin: 0em;
	border-bottom: solid thick;
	text-decoration: none !important;
}
#content a {
	color: #000;
	font-weight: bold;
}
/****************************
	Footer
****************************/
footer {
	text-indent: 0.25em;
	text-align: right;
	position: fixed;
	bottom:0px;
	max-width: {{ page.width }};
	min-width: {{ page.width }};
	width: {{ page.width }};
	height: 20px;
	min-height: 20px;
	max-height: 20px;
	color: white;
}
/****************************
	Colors
****************************/
{% for color in page.colors %}
header#head.{{ color.name }} div { background-color: {{ color.value }};}
header.{{ color.name }} nav ul { border-color: {{ color.value }}; }
header nav li.{{ color.name }} { background-color: {{ color.value }}; }
section#content.{{ color.name }} h1 { color: {{ color.value }} !important; }
section#content.{{ color.name }} h2 { color: {{ color.value }} !important; }
section#content.{{ color.name }} h2 a { color: {{ color.value }}; text-decoration: none; }
footer.{{ color.name }} { background-color: {{ color.value }}; }
{% endfor %}