---
colors:
 - {name: "about", value: "#6989BC" }
 - {name: "experience", value: "#2E7682" }
 - {name: "past", value: "#6C2B4B" }
 - {name: "current", value: "#8D355F" }
 - {name: "future", value: "#C06D89" }
---
/****************************
	Main
****************************/
body {
	font-size: 10pt;
	font-family: "Lucida Grande", Arial, sans-serif;
	background-color: white;
	padding-top: 50px;
}

/****************************
	Content
****************************/
h2 > a { color: inherit; text-decoration: none;}
/*a { color: #000;}*/
h1 {
	font-size:30pt;
	font-weight: bold;
	border-bottom: solid 3px;
}
h2 {
	font-size: 24pt;
	font-weight: bold;
	border-bottom: solid 1px;
}
h3 {
	font-size: 16pt;
}

h4 {
    font-size: 12pt;
}

h5 {
    font-size: 10pt;
}

section.content {
	padding: 40px 15px;
}

/* http://stackoverflow.com/a/11134911 */
section a[href^="http"]:after {
    content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}

/****************************
	Footer
****************************/
footer {
	text-align: right;
	position: fixed;
	bottom: 0;
	height: 20px;
	color: white;
	width: 100% ;
}

.navbar-inverse .navbar-nav > li > a {
	color: #eee;
}

/****************************
	Experience Specific Styles
****************************/
section.experience h3 { line-height: 10%; }
section.experience h3 + ul li:after { content:","; }
section.experience h3 + ul li:last-child:after {content: "";}
section.experience h3 + ul li { display: inline; }

section.experience h4 { line-height: 10%; }
section.experience h4 + ul li:after { content:","; }
section.experience h4 + ul li:last-child:after {content: "";}
section.experience h4 + ul li { display: inline; }
section.experience h5 { line-height: 10%; }
section.experience h5 + ul li:after { content:","; }
section.experience h5 + ul li:last-child:after {content: "";}
section.experience h5 + ul li { display: inline; }

/****************************
	Colors
****************************/
{% for color in page.colors %}
header.{{ color.name }} div { background-color: {{ color.value }};}
ul.nav li.{{ color.name }} { background-color: {{ color.value }}; }
footer.{{ color.name }} { background-color: {{ color.value }}; }
section.{{ color.name }} h1 { color: {{ color.value }}; }
section.{{ color.name }} h2 { color: {{ color.value }}; }
{% endfor %}

iframe.chart {
    overflow: scroll;
    border: 0;
    width: 100%;
    height: 460px;
    position: relative;
    padding:20px;
}
