---
colors:
 - {name: "one", value: "#7f7" }
 - {name: "two", value: "#868" }
 - {name: "three", value: "#9bf" }
 - {name: "four", value: "#fc0" }
 - {name: "five", value: "#f77" }
---

body {
	padding-top: 2em;
	margin-left: 0em;
	margin-right: 0em;
}

header#head {
	margin: 0em;
	font-weight: bold !important;
	font-family: Sans-serif !important;
	text-decoration: none !important;
}

nav li h1 {
	display: inline;
	font-size:1em;
}

nav ul {
	padding: 0em 1em;
	margin: 0em;	
}

nav li a {
	color: #FFFFFF;
	text-decoration: none;
}
nav li {
	list-style:none;
	display: table-cell;
	padding: 0.5em 0.5em 0.01em;
}

header nav {
	border-bottom: solid thick;
	padding: 0em;
}

footer {
	text-align: right;
	padding: 0.25em;
}

/* Content */
#content h1 {
	font-size:2.5em;
	margin: 0em;
	border-bottom: solid thick;
	text-decoration: none !important;
}
#content h2 {
	font-size: 1.5em;
	margin: 0em;
	border-bottom: solid thick;
	text-decoration: none !important;
}
#content a {
	color: #000;
	font-weight: bold;
}
#content {
	padding: 0em 2em;
}

/* Colors */
nav li.zero a { color: #000;}
{% for color in page.colors %}
header.{{ color.name }} nav { border-color: {{ color.value }}; }
header nav li.{{ color.name }} { background-color: {{ color.value }}; }
section#content.{{ color.name }} h1 { color: {{ color.value }} !important; }
section#content.{{ color.name }} h2 { color: {{ color.value }} !important; }
section#content.{{ color.name }} h2 a { color: {{ color.value }}; text-decoration: none; }
{% endfor %}