<!DOCTYPE html>
<!-- https://github.com/kfdm/kfdm.github.com/commits/master/{{ page.path }} -->
<html lang="{% if page.lang %}{{ page.lang}}{% else %}en{% endif %}">
	<head>
		<meta charset="utf-8" />
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
		<meta name="description" content="{{ site.description }}">
		<meta name="robots" content="noarchive" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
		{% feed_meta %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" media="screen" href="{{ "/static/new.css" | prepend: site.baseurl }}">
		<link rel="stylesheet" media="screen" href="{{ "/static/syntax.css" | prepend: site.baseurl }}">
{% if page.chart %}
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endif %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">Paul Traylor</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">About</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="/experience.html">Experience</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/past.html">Past Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/projects/">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://nihongo.paultraylor.net/">日本語</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" title="GitHub" href="https://github.com/kfdm/">
							<ion-icon name="logo-github" size="medium"></ion-icon>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" title="Twitter" href="https://twitter.com/kfdm/">
							<ion-icon name="logo-twitter" size="medium"></ion-icon>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" title="Instagram" href="https://www.instagram.com/kungfudiscomonkey/">
							<ion-icon name="logo-instagram" size="medium"></ion-icon>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" title="LinkedIn" href="https://www.linkedin.com/in/PaulTraylor">
							<ion-icon name="logo-linkedin" size="medium"></ion-icon>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" title="Mastodon" rel="me" href="https://mastodon.social/@kfdm">
							<ion-icon name="logo-mastodon" size="medium"></ion-icon>
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<section class="container content {{page.tab}} {{ page.section }}">
			<div>
{{ content }}
			</div>
		</section>
		<footer class="{{ page.section }}">Copyright &copy; Paul Traylor 2004-2016. Uses <a href="http://ionicons.com">Ionicons</a></footer>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/ionicons@4.1.1/dist/ionicons.js"></script>

		{% for js in page.javascript %}
		<script type="text/javascript" src="{{ js }}"></script>
		{% endfor %}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-68676264-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</body>
</html>
