<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	<head profile="http://a9.com/-/spec/opensearch/1.1/">
		<title>{{ page.title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="robots" content="noarchive" />
		{% for search in page.search %}
		<link rel="search" type="application/opensearchdescription+xml" href="{{ search.xml }}" title="{{ search.title }}" />
		{% endfor %}
		<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>-->
		<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>-->
		<!--<script type="text/javascript" src="custom.js"></script>-->
		<link type="text/css" href="custom.css" rel="stylesheet" />
	</head>
	<body>
		<div id="container">
			<h1 id="header" class="{{page.tab}}">{{ page.htitle }}</h1>
			{% include nav.html %}
			<div id="content" class="{{page.tab}}">
{{ content }}
			</div>
			<div id="footer" class="{{page.tab}}">Copyright &copy; Paul Traylor 2004-2010</div>
		</div>
	</body>
</html>