---
layout: default
---
<div class="post">
    <header class="post-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/wiki/">Wiki</a></li>
                <li class="breadcrumb-item active">{{page.title}}</li>
            </ol>
        </nav>
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">
            {% if page.tags.size > 0 %}{% include tags.inc.html tags=page.tags %}{% endif %}
        </p>
    </header>
    <article class="post-content">
        {{ content }}
    </article>
</div>
