{{ define "main" }}

<header>
    <h1 class="blog-post-title">
        <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </h1>
    <hr>
</header>
{{ if .Content }}
<section class="blog-post">
    {{ .Content }}
</section>
{{ end }}

{{ $projects := where $.Pages "Section" "project" }}
{{ $projects := where $projects "Params.status" "!=" "retired" }}
{{ if $projects }}
<section>
    <h2>Featured Projects</h2>
    <dl class="row">
        {{ range $projects.ByTitle }}
        <dt class="col-sm-3">
            {{ partial "section_icon.html" . }}
            <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </dt>

        <dd class="col-sm-9">
            {{ .Summary }}
            {{ if .Params.external }}
            (
            {{range $index, $link := .Params.external }}
            <a rel="nofollow" href="{{ $link }}">{{ title $index }}</a>
            {{ end }}
            )
            {{ end }}
        </dd>

        {{ end }}
    </dl>
</section>
{{ end }}

{{ $posts := where $.Pages "Section" "blog" }}
<section>
    {{ if $posts }}
    <h2>Posts</h2>
    {{ end }}
    {{ if $posts }}
    {{ range $posts }}
    {{ .Render "summary" }}
    {{ end }}
</section>
{{ end }}

{{ end }}
