{{ define "main" }}

<header>
    <h1 class="blog-post-title">
        <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </h1>
    <hr>
</header>
{{ if .Content }}
<section class="blog-post">
    {{ .Content }}
</section>
{{ end }}

{{ $projects := where $.Pages "Section" "project" }}
{{ $projects := where $projects "Params.status" "!=" "retired" }}
{{ if $projects }}
<section>
    <h2>Featured Projects</h2>
    <table class="table table-sm table-borderless">
        <tr>
            <th>Ttitle</th>
            <th>Status</th>
            <th>Description</th>
        </tr>
        {{ range $projects.ByTitle }}
        <tr>
            <td style="white-space: nowrap;">
                {{ partial "section_icon.html" . }}
                <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
            </td>
            <td style="white-space: nowrap;"><span class="badge badge-secondary">{{.Params.status}}</span></td>
            <td>
                {{ .Summary }}
                {{ if .Params.external }}
                (
                {{range $index, $link := .Params.external }}
                <a rel="nofollow" href="{{ $link }}">{{ title $index }}</a>
                {{ end }}
                )
                {{ end }}
            </td>
        </tr>
        {{ end }}
    </table>
</section>
{{ end }}

{{ $posts := where $.Pages "Section" "!=" "project" }}
<section>
    {{ if $posts }}
    <h2>Posts</h2>
    {{ end }}
    {{ if $posts }}
    {{ range $posts }}
    {{ .Render "summary" }}
    {{ end }}
</section>
{{ end }}

{{ end }}
